// https://css-tricks.com/poll-results-how-do-you-order-your-css-properties/
/* Positioning */
/* Display & Box Model */
/* Color */
$colorBackground: #000;
$colorBackground2: #121212;
$colorBackground3: #181818;
$colorText: #fff;
$colorTextInactive: #b3b3b3;
$colorButtonActive: #282828;
/* Text */
$fontSizeButton: 1.4rem;
$fontSizeContent: 1.4rem;
/* Other */